@model IndexViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div id="container" class="container text-center">
    <div>Latest @Model.Newest.Count never seen before flash files.</div>
    <div class="row justify-content-around">
        @foreach (var flash in @Model.Newest)
        {
            <div class="card" style="width: 14rem;">
                <img src="/flash/@flash.Id/thumbnail" class="card-img-top" alt="Thumbnail for file id #@flash.Id">
                <div class="card-body text-left">
                    #@flash.Id <a href="/flash/@flash.Id">@flash.GetMostCommonName()</a>
                    <div>First seen at: @flash.CreatedAt</div>
                    <div>Last seen at: @flash.LastSeenAt</div>
                </div>
            </div>
        }
    </div>
    <br />

    <div>Latest @Model.LastSeen.Count spotted before flash files.</div>
    <div class="row justify-content-around">
        @foreach (var flash in @Model.LastSeen)
        {
            <div class="card" style="width: 14rem;">
                <img src="/flash/@flash.Id/thumbnail" class="card-img-top" alt="Thumbnail for file id #@flash.Id">
                <div class="card-body text-left">
                    #@flash.Id <a href="/flash/@flash.Id">@flash.GetMostCommonName()</a>
                    <div>First seen at: @flash.CreatedAt</div>
                    <div>Last seen at: @flash.LastSeenAt</div>
                </div>
            </div>
        }
    </div>
</div>